
*{
  box-sizing:border-box;
}
.container{
  display:flex;
  justify-content:center;
  padding:20px;
  gap: 2rem;
}

.container > section {
  width: 400px;
  margin-left: 30px;
}

.add_book:hover{
  color: #333;
  background-color: rgb(103, 250, 108);
}

input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.add_book{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:10px 0 0 29%;
  border-radius: 25px;
}